#rename this file to .env

SIMKL_CLIENT_ID="simkl_client_id" 
SIMKL_CLIENT_SECRET="simkl_client_secret"
SIMKL_ACCESS_TOKEN="token" #optional

# Note: SIMKL_CLIENT_ID and SIMKL_CLIENT_SECRET should now be set as environment variables
